@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.btn {
  @include btn(176px, 42px, 3px, $primary-color);
  @include flex_box_custom(center, center, 0px);

  color: $white_color;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  //   padding: 13px 45px;

  &:hover {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: background-color 300ms;
  }
}
