@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  @include flex_box_custom(center, center, 0px);

  background-image: url(../../assets/images/banner_img.jpeg);
  min-height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content {
  @include flex_box_custom(center, center, 10px);

  flex-direction: column;
}

.title {
  font-size: 42x;
  color: $four_color;
  font-weight: 400;
  margin: 15px 0;
}

.desc {
  color: $thr_color;
  font-weight: 400;
  padding-bottom: 25px;
}
